<ion-view hide-nav-bar="true">
	<ion-content overflow-scroll="false">
      <div class="row">
      	<img src="img/map.png">
      </div>   
      <div class="row">
      	<div class="colbox col-33">距离<br>--/km</div>
      	<div class="colbox col-33">时长<br>--/h</div>
      	<div class="colbox col-33">配速<br>--/ km/h</div>
      </div>
      <div class="row">
      	<div class="col-50"><a class="button button-block button-assertive" href="#/over-run">结束</a></div>
      	<div class="col-50"><a class="button button-block button-energized" href="#/stop-run">暂停</a></div>
      </div>
	</ion-content>
</ion-view>