<ion-view hide-nav-bar="true">
	<!-- <ion-nav-buttons side="right">
    <a class="button button-clear icon ion-ios-redo-outline" href="#/tab/sport"></a>
  </ion-nav-buttons> -->
  <ion-content overflow-scroll="false">
    <ion-list type="card">
      <ion-item class="item-avatar-right" ng-click="show()">
      <img src="img/me.png">
              头像
      </ion-item>
      <ion-item>
      昵称<i class="badge">马清婷</i>
      </ion-item>
      <ion-item>
      个性签名
            <i class="badge">今天你跑了么？</i>
      </ion-item>
      <ion-item>
        <textarea style="width:300px;height:200px">
          【跑了么】是一款运动记录工具。

          接下来让我们一起来看前端UI！
        </textarea>
      </ion-item>
      <div class="bar bar-footer white"><a class="button button-assertive btn-start" href="#/tab/calendar">进入APP</a></div>
      </div>
    </ion-list>
	</ion-content>
</ion-view>