<ion-view view-title="修改登录密码">
	<ion-content overflow-scroll="false">
	<div class="list card">
      <label class="item item-input">
        <i class="icon ion-ios-person-outline positive"></i>
        <input type="text" placeholder="请输入您的原密码">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline positive"></i>
        <input type="password" placeholder="请输入您的新密码">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline positive"></i>
        <input type="password" placeholder="请再次输入您的新密码">
      </label>
    </div>
    <div class="padding-left padding-right">
      <a class="button button-block button-balanced" href="#/tab/sport">修改</a>
    </div>
	</ion-content>
</ion-view>