<ion-view view-title="备注">
  <ion-content overflow-scroll="false">
  <div class="list card">
      <label class="item item-input">
        <i class="icon ion-ios-person-outline banlanced">总步数：</i>
        <input type="text" value="--/步">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline banlanced">总里程：</i>
        <input type="text" value="--/km">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline banlanced">备注</i>
        <textarea style="width:200px;height:200px"></textarea>
      </label>
    </div>
    <div class="padding-left padding-right">
      <a class="button button-block button-balanced" href="#/tab/tab-sport">保存</a>
    </div>
  </ion-content>
</ion-view>