<ion-tabs class="tabs-icon-top tabs-color-active-balanced tabs-stable">

  <ion-tab title="运动" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/sport">
    <ion-nav-view name="tab-sport"></ion-nav-view>
  </ion-tab>

  <ion-tab title="日历" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>


</ion-tabs>
