<ion-view hide-nav-bar="true">
  <ion-slide-box on-slide-changed="slideHasChanged(index)">
    <ion-slide>
      <div class="box blue">
        <img src="img/run.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box white">
      <img src="img/run.jpg" style="height:50%; ">
      <div class="bar bar-footer white"><a class="button button-assertive btn-start" ng-click="gotoMain()">开跑</a></div>
      </div>
    </ion-slide>
    <!-- <ion-slide>
      <div class="box pink">
        <h1>Step C</h1>
        <div class="bar bar-footer pink"><a class="button button-assertive btn-start" ng-click="gotoMain()">立即体验</a></div>
      </div>
    </ion-slide> -->
  </ion-slide-box>
</ion-view>