<ion-view hide-nav-bar="true">
	<ion-content overflow-scroll="false">
      <div class="row">
      	<div class="col-100">
                  <img src="/img/map.png" width="120%" height="550">   
            </div>
      </div>   
      <div class="row">
      	<div class="colbox col-50">总步数:--/步</div>
            <div class="colbox col-50">总里程:--/km</div>
      </div>
      <div class="row">
            <div class="col-50"><a class="button button-block button-assertive" href="#/over-walk">结束</a></div>
            <div class="col-50"><a class="button button-block button-energized" href="#/stop-walk">暂停</a></div>
      </div>
	</ion-content>
</ion-view>